div{
    border-color: brown;
    border-style: solid;
    background-color: black;
    width: 100vw;
    height: 12vh;
}
div div{
    background-color: green;
    border-color: green;
    width: 10vw;
    height: 11vh;


}

@