h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}
div {
    color: darkgrey;
}
                                    
.h2px{
    font-size:14px;
    color:blue;
}

p{
    color:rgba(250, green, blue, 0.3)
}

li{
    color: brown;
}
.roxo{
    color: purple;
}

.azul{
    color: blue;


}

body > div {
            border-width: 1px;
            border-color: black;
            border-style: dotted;
            
            width: 50vw;
            height: 50vh; 
            
            background-color: lightgreen;
            width: 50vh;
            height: 50vh;

            position: relative;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);

            
}
div > div {
    background-color: lightgreen;
    width: 50%;
    height: 50%;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
